.card {
  &__media {
    position: relative;
    overflow: hidden;
    height: 30vh;
    @media (min-width: 769px) {
      height: auto;
    }

    &--hasBorderRadius {
      border-radius: 1rem;
    }

    &--clickable {
      cursor: pointer;
    }
  }
}

.content {
  padding-block: 2rem;
  width: var(--card-width, 30vw);
  width: 100%;
  @media (min-width: 769px) {
    width: 80%;
    padding-block: 2rem;
  }
  &--inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1rem;
    padding: 0.5rem;

    h5,
    p {
      flex: 1 1 100%;
      white-space: normal;
    }
    p {
      text-align: right;
    }
  }

  h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
  }
}
